.about
{
    margin: 30px; 
}

.about .caixaTexto
{
    font-size: 15px;
    color: White;
    padding: 10px;
    background-color:#2F4F4F;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
    width: 500px;
    height: 500px;
    align-content: center;
    position:relative;
    left:40%;
}

/*.about .caixaTexto .descricaoAbout
{
    font-family: Arial;
    font-size: 15px;
    text-align:justify;
}*/

