@{
    ViewBag.Title = "Hellys Chopp Alegria";
}

<div class="pagina_boasvindas">
    <h3>Bem Vindo!!!!</h3>
    <img src="http://www.ocontadordecervejas.com.br/arquivos/uploads/2012/04/03-224x300.jpg" class="imagem" />
    <h1>Hellys Chopp</h1>
    <h5>Um Hellys lugar para se divertir!</h5>
    <br />

    <div class="link">@Html.ActionLink("Hellys Menu", "Index", "Item")</div>
</div>
