@{
    ViewBag.Title = "About";
}

<div class="about">
    @section voltar
    {
        <div class="link-voltar">@Html.ActionLink("Voltar", "Index", "Home")</div>
    }
    <h1>Hellys About</h1>
    <br />
    
    <div class="caixaTexto">
    <br />
        <div class="descricaoAbout">Bem vindo ao Hellys Chopp, um Hellys lugar de família, Hellys ideal para Hellys Crianças velhas que bebem.
                                    <p>Hellys foi uma pessoa muito sofrida na vida. Ainda em tenra idade descobriu como as crianças poderiam ser cruéis.
                                    Piadas como <strong>Você é um Hellys Mortal!</strong>, ou <strong>Você está se Hellyssionando com alguém?</strong> eram
                                    comuns em sua vida.
                                    A verdade é que seu nome era quase um convite para piadas, ninguém perdoava, principalmente seu pai, que era um
                                    zueiro, que, inclusive, escolheu o nome do nosso desafortunado herói!</p>
                                    <p>Sim, herói, pois apesar de ser um Hellys mortal, Hellys deu a volta por cima e construiu um Chopp digno do cachaceiro
                                    que ele é, para que outros desafortunados possam chorar suas mágoas e desfrutar de um momento de alegria!</p>
                                    <h4>Se você ficou com pena do Hellys, não fique! Dê dinheiro para ele!</h4></div>
        </div>
    </div>
